body {
    background: black;
    width: 100%;
}
#p1{
    background: white;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top:  0px;
    border-radius: 50%;
     box-shadow: 0px 0px 30px white;
      text-align-last: center;
    align-content: center;
    
  
}

#p2{
    background:blue ;
    width: 75px;
    height: 25px;
    position: absolute;
    left: 0px;
    top: 300px;
    text-align-last: center;
    align-content: center;
    
  
}
#p3{
    background: #00f3b7;
    width: 75px;
    height: 25px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align-last: center;
    align-content: center;
    
   /* transition: 225ms;*/
  
}

#mf {
      background-image: url('f.jpg');
    background-size: cover;
    background-position: left bottom -17px;
    z-index: -4;
   
    width: 100%;
    height: 325px;
    position: absolute;
    left: 0px;
    top: 0px;

}


#mesa{
    background: grey;
    width: 98vw;
    height: 319px;
    position: absolute;
    left: 2px;
    top: 0px;
   z-index: -3;
     border: dashed 3px white ;
    
   }
    
    
     
    
 #Cpe{
     background: black;
     width: 300px;
     height: 170px;
     position: absolute;
     z-index: 10;
     top: 300px;
     left: 55px;
     color: red;
     align-items: center;
     align-content: center;
     text-align-last: center;
     border: dotted 3px white;
     border-radius: 10%;
     
 }
    
    #hcpe {
         -webkit-text-stroke: 1px white;
    
    }
    
    
    
    #Bp{
    border-radius: 10%;
    border: solid 1px black ;
    font-family: arial;
    color: black;
    height: 30px;
    width: 80px;
    background: #ffb5aa;
    
    }
    
    #Bp:hover{
        background: red;
        color: white;
        
    }
    
    #Fp{
        background: #9a000680;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        z-index: 9;
    }
    
    
    
    #Ca{
    background: #02001f;
    width: 66px;
    height:66px;
    position: absolute;
    left: 2px;
    top:  330px;
   z-index: -3;
     align-items: center;
     align-content: center;
   border-radius: 50%;
    
    }
    
    #Cfl{
    background: no-repeat;
    
    width: 3px;
    height: 60px;
    position: absolute;
    top: 3px;
    left: 33px;
    display: flex;
    flex-direction: column;
    transition: 200ms;
    
    }
    
    #fl1{
        background: #00f3b7;
        height:   100%;
    }
    
    #fl2{
        background: blue;
        height:  100%;
    }
   
    #CLZ{
      background:#00ffc020 ;
      box-shadow: 0px 0px -30px #00ddcb;
      border: inset;
      border-width:  0px 0px 0px 2px;
      border-color :#00ddcb ;
    width: 66px;
    height:66px;
    position: absolute;
    left: 90px;
    top:  330px;
   z-index: -3;
     align-items: center;
     align-content: center;
   border-radius: 50% 0% 0% 50%;
    border: none;
  }
  
     
  
  
  
  #lz{
         background: #004f3c;
          box-shadow: 0px 0px 33px #004f3c;
     
    width: 26px;
    height:26px;
    
    position: absolute;
    left: 20px;
    top:  20px;
   z-index: -3;
     align-items: center;
     align-content: center;
   border-radius: 50%;
  }
     
  
   #lzp{
         background: #12dd9e;
          box-shadow: 0px 0px 33px #12dd9e;
     
    width: 22px;
    height:22px;
    
    position: absolute;
    left: 2px;
    top:  2px;
   z-index: -3;
     align-items: center;
     align-content: center;
   border-radius: 50%;
  }
  


#CN{
    
    background: linear-gradient(#000000,#000000,#00ffab72);
    
    width: 132px;
    height: 66px;
      box-shadow: 0px 0px -30px #00ddcb;
    
    -webkit-text-stroke: 1px white; 
    font-size: 33px; 
    padding-left: 5px;
   
    position: absolute;
    left: 156px;
    top:  330px;
   z-index: -3;
     align-items: center;
     align-content: center;
   border-radius: 0% 10% 10% 0%;
  }
  
     
  
  
    



#infor {
    
    background: no-repeat;
    color: white;
    position: absolute;
    width: 70px;
    height: 30px;
    right: 1px;
    bottom: 1px;
}

